{% extends 'admin/base.html.twig' %}

{% block title %}Test !{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ product.name }}</h1>
        <div class="">
            <a href="{{ path('admin_products_edit', { productId: product.id }) }}" class="btn btn-sm btn-primary">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <a href="{{ path('admin_products_delete', { productId: product.id }) }}" class="btn btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </div>
    
    <div>
        <b>Category</b>: {{ product.CategoryProduct.name }}
    </div>

    <div>
        <a class="btn btn-sm btn-light" href="{{ path('products_list') }}">Retour</a>
    </div>

{% endblock %}